* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  touch-action: manipulation;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.MuiSvgIcon-root {
  color: #800080;
}

:root {
  --NAV_HEIGHT: 55px;
}
